body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #0b6d83;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #444444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 20px 0;
    padding: 20px 0;
}

.grid {
    display: flex;
    gap: 20px;
}

.card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    flex: 1;
}

footer {
    background: #0667e5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body{
    color: black;
    background-color: black;
}
h1{
    color: #ddd;
}
p{
    color: #f4f4f4;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
ol{
    color: #f4f4f4;
}
h3{
    color:white;
}